[Unit]
Description=Pause mpd on sleep
Before=sleep.target

[Service]
User=%I
Type=oneshot
ExecStart=/home/%I/bin/mpd_sleep

[Install]
WantedBy=sleep.target
