[Unit]
Description=Turns on monitor on after sleep
After=suspend.target

[Service]
User=%I
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/home/%I/bin/screen_waker

[Install]
WantedBy=suspend.target
